[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "pytorch"

[[source]]
url = "https://data.pyg.org/whl/torch-1.11.0%2Bcu113/"
verify_ssl = true
name = "pytorch-geometric"

[packages]
numpy = "*"
torch = {version = "==1.11.0+cu113", index = "pytorch"}
matplotlib = {version = "==3.4.3", sys_platform = "!= 'win32'"}
pandas = "*"
shap = "*"
scikit-learn = "*"
ipykernel = "*"
seaborn = "*"
jupyter-book = "*"
jupytext = "*"
ghp-import = "*"
xgboost = "*"
torch_scatter = {file="https://data.pyg.org/whl/torch-1.11.0%2Bcu113/torch_scatter-2.0.9-cp310-cp310-linux_x86_64.whl", index = "pytorch-geometric"}
torch_sparse = {file="https://data.pyg.org/whl/torch-1.11.0%2Bcu113/torch_sparse-0.6.13-cp310-cp310-linux_x86_64.whl", index = "pytorch-geometric"} 
torch-geometric = "*"
torch_cluster = {file="https://data.pyg.org/whl/torch-1.11.0%2Bcu113/torch_cluster-1.6.0-cp310-cp310-linux_x86_64.whl", index = "pytorch-geometric"}
torch_spline_conv = {file="https://data.pyg.org/whl/torch-1.11.0%2Bcu113/torch_spline_conv-1.2.1-cp310-cp310-linux_x86_64.whl", index = "pytorch-geometric"}
[dev-packages]

[requires]
python_version = "3.10"
