[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "pytorch"

[packages]
numpy = "*"
matplotlib = "3.4.3"
pandas = "*"
shap = "*"
scikit-learn = "*"
hvplot = "*"
ipykernel = "*"
seaborn = "*"
jupyter-book = "*"
jupytext = "*"
ghp-import = "*"
xgboost = "*"
torch = {version = "==1.11.0+cu113", index = "pytorch"}

[dev-packages]

[requires]
python_version = "3.10"
